@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
footer { background-color:#0c1a1e; min-height:350px; font-family: 'Open Sans', sans-serif; }
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}

.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 
 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}
 
 .copyright { min-height:40px; background-color:#000000;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}

 footer {
    background-color:#292929;
    height:auto;
    width:100%;
    bottom:0;
    font-weight:lighter;
    color:white;
    padding:4% 0;
}

.footerHeader {
    width:100%;
    padding:1em;
    background-color:rgba(52, 73, 94,1.0);
    text-align:center;
    color:white;
}

footer h3 {
    font-weight:lighter;
}

footer ul {
    padding-left:5px;
    list-style:none;
}

footer p {
    text-align : justify;
    font-size : 12px;
}

footer iframe {
    width:100%;
    position:relative;
    height:170px;
}

.sm {
    list-style:none;
    overflow:auto;
}

.sm li {
    display: inline;
    padding:5px;
    float:left;
}

.sm li a img {
    width:32px;
}

.taber {
    font-size: 18px;
    color: #fff;
    margin: 0;
    font-weight: 700;
    padding: 20px 0;
    height: 60px;
    cursor: pointer;
    text-transform: uppercase;
}

.footer-ul>li {
    height: 50px;
    line-height: 1.42857;
}

.footer-ul>li>a {
	font-size: 14px;
    width: 100%;
    display: block;
    color: hsla(0,0%,100%,.6);
    text-decoration: none;
    white-space: nowrap;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.footer-ul>li>a:hover {
	color: white ;
    text-decoration: underline;

}

.copyright {
        padding:0 ;
    width: 100%;
    background-color: #535353;
    color: #d4d4d4;
    position: fixed;
    line-height: 28px;
    bottom: 0;
    z-index: 9997;
}

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
}

.social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }
#social-em:hover {
    color: #FF1F25;
}


footer ul
{
  margin:0;
  padding:0 0 0 ;
}

@media (max-width:723px)
{
.taber
{
border-bottom:1px solid #ccc;
padding-bottom:10px;
cursor:auto;
}
.taber.collapsed:after {
    content: "+";
    float: right;
    font-size: 22px;
    margin-right: 10px;
}
.taber:after {
    content: "-";
    float: right;
    font-size: 22px;
    margin-right: 10px;
}
.taber {
    border-bottom: 1px solid #ccc;
    cursor: pointer;    
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.panel-collapse{
padding-left: 15px;
    padding-right: 15px;
}