.container {
    width: 100%;
}

.main-nav-brand {
    padding-left: initial;
}

.sub-menu .menu-list {

}

.sub-menu .menu-list .menu-list-items a {
    padding-top: initial;
    padding-bottom: initial;
}

.column {
    padding-right: 20px;
    padding-left: 20px;
}

.recent-reviews {
    margin-right: initial;
    margin-left: initial;
}

.menu-list {
    min-height: 50px;
    display: flex;
    align-items: center;
}

.menu-list-items {

}

.sub-menu {
    border-color: transparent;
}

#menu {
    background-color: transparent;
    border-bottom: none;
}

.banner-description {
    text-align: center;
    font-size: 14px;
    color: white;
}

.navbar-brand > img {
    margin-top: -8px;
    width: 131px;
}

.input-group {
    margin-left: 46px;
}

.navbar-default .navbar-nav > li >a {
    color: #d4d4d4 ;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #fff ;
    text-decoration: underline;
}

.line {
	color: #fff;
    background: transparent;
    padding: 0;
    text-decoration: none;
    line-height: 20px;
    display: inline-block;
    margin-top: 14px;
}

#forcompany {
    padding: 3px 20px;
    height: 30px;
    line-height: 1.6;
    background-color: #d4d4d4;
    color: #292929!important;
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0 3px 0 -1px #a9a9a9;
}

#bs-example-navbar-collapse-1 {
    position: absolute;
    width: 100%;
}

.has-feedback {
    position: relative;
    margin: 0 auto;
    margin-bottom: 10px;
    float: initial;
}

.chosen-container-single {
    text-align: left;
}

.chosen-container-single .chosen-single {
    color: #555;
}

.chosen-container-single .chosen-single span:first-child {
    padding-left: 24px;
}

.index{
	background-image: url(../images/bg1.jpg);
	background-repeat: no-repeat;
	background-size:cover;
}

.scene-overlay h1{
	color: white;
    font-size: 40px;
    text-align: center;
    margin-top: 128px;
}

.scene-overlay.banner {
    padding-bottom: 150px;
}

.scene-overlay .title-teaser {
    padding: 0 0 20px;
    color: #fff;
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
}

form.form-inline {
    text-align: center;
    margin: 0 auto;
    float: inherit;
}

.feedback {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    height: 44px;
    padding-left: 32px;
}

.feedbacki{
    margin-top: 8px;
	margin-left: 0px !important;
}

.find {
    width: 100%;    
    height: 44px;
    font-weight: 500;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-color: #fff;
    background: #e38308;
    color: #fff;
    font-weight: bold;
    padding: initial;
}

.find:hover{
 	color: #fff;
    background-color: #e38008;
    border-color: #b76706;
    font-weight: bold;
 }

.form-group i.glyphicon {
    left: 13px; /*Added left 10px to align it to `textbox`*/
    margin-top: 5px;
    margin-left: -15px;
    font-size: 20px;
    color: #666;

}

input[type="text"] {
    padding-left: 25px; /*let the text inside textbox start bit away from icon*/
}

.content{
    background: #FAFAFA;
    padding-top: 52px;
}

.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}

.has-feedback>ul{
    height: 150px;
    width: 100%;
    overflow: scroll;
}

.has-feedback>ul>li{
    border-bottom: 0.5px solid lightgrey;
    padding: 5px;
}

.feedbackbtn{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    height: 44px;
    padding-left: 185px;

}
.navbar-brand > img{
    cursor: pointer;
    z-index: 5;
}
@media only screen and (min-width: 768px) {
    .has-feedback {
        padding-left: initial;
        padding-right: 5px;
    }

    .has-feedback .feedback {
        width: 100%;
    }

    .hero-js .scene-container .scene-overlay h1 {
        margin: 0 0 10px;
        font-size: 40px;
    }

    .scene-overlay .title-teaser {
        display: inline-block;
    }

    .form-inline .has-feedback .form-control-feedback {
        top: 0;
    }

    .form-group i.glyphicon {
        left: 0;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        width: 984px;
    }
}