.btn-grey{
    background-color:#D8D8D8;
	color:#FFF;
}

.rating-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px 15px 20px 15px;
	border-radius:3px;
}

.bold{
	font-weight:700;
}

.padding-bottom-7{
	padding-bottom:7px;
}

.review-block{
	background: none #fff;
    padding: 17px;
    margin: 0 0 52px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 4px -5px #f2f2f2;
    transition: margin-top 2s linear;
}

.review-block-name{
	font-size:12px;
	margin:10px 0;
}

.review-block-date{
	font-size:12px;
}

.review-block-rate{
	font-size:13px;
	margin-bottom:15px;
}

.review-block-title{
	font-size:15px;
	margin-bottom:10px;
}

.review-block-description{
	font-size:13px;
}

.review-block img{
	width: 73px;
	height: 73px;
	border-radius: 50%;
}

.btn-xs{
	background-color: #007f4e !important;
    border-color: #007f4e !important;
}

.review-block-title strong {
	font-weight:700;
}

.review-block-title strong:hover {
	text-decoration: underline;
	color: #1C7ADA;
	font-weight:700;
}

.choose-feed ul {
    list-style: none;
    background-color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    box-shadow: 0 5px 5px -4px #d4d4d4;
}

.choose-feed ul li {
    background: none #fff;
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 10px 20px;
    color: #292929;
    font-weight: 700;
}

.choose-feed ul li .triangle-down {
    width: 0;
    height: 0;
    content: "";
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-45deg);
    transform-origin: 0 0;
    transform: rotate(-45deg);
    position: absolute;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    border-left: 10px solid #fff;
    box-shadow: -3px 3px 3px 0 #d4d4d4;
    left: 40%;
    left: calc(48% - 10px);
    top: 37px;
}
