table {
    font-family: arial, sans-serif;
    border : 1px solid #ddd;
}
.row{
	margin:0px !important;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.rev-slider{
    margin-left: 20px;
}

input[type="checkbox"]:checked {

background-color: #2196F3;
}
 a{
	color: #fff;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal iframe {
    width: 100%;
    height: 100%;
    border: 0;
    overflow: hidden;
    -webkit-scrollbar {
     display: none; 
    }

}

.modal-part {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}
.modal-part:nth-child(0) {
  background-color: #1abc9c;
}
.modal-part:nth-child(0) .modal .modal-container .modal-container__header {
  background-color: #1abc9c!important;
}
.modal-part:nth-child(0) .btn-open-modal {
  color: #1abc9c;
}
.modal-part:nth-child(1) {
  background-color: #2ecc71;
}
.modal-part:nth-child(1) .modal .modal-container .modal-container__header {
  background-color: #2ecc71!important;
}
.modal-part:nth-child(1) .btn-open-modal {
  color: #2ecc71;
}
.modal-part:nth-child(2) {
  background-color: #3498db;
}
.modal-part:nth-child(2) .modal .modal-container .modal-container__header {
  background-color: #3498db!important;
}
.modal-part:nth-child(2) .btn-open-modal {
  color: #3498db;
}
.modal-part:nth-child(3) {
  background-color: #e67e22;
}
.modal-part:nth-child(3) .modal .modal-container .modal-container__header {
  background-color: #e67e22!important;
}
.modal-part:nth-child(3) .btn-open-modal {
  color: #e67e22;
}
.modal-part:nth-child(4) {
  background-color: #e74c3c;
}
.modal-part:nth-child(4) .modal .modal-container .modal-container__header {
  background-color: #e74c3c!important;
}
.modal-part:nth-child(4) .btn-open-modal {
  color: #e74c3c;
}
.btn-open-modal {
  display: block;
  background-color: #fff;
  padding: 0.8rem 2.2rem;
  border-radius: 5px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: 300ms all ease;
}
.modal-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}
.modal-overlay a {
  display: block;
  width: 100%;
  height: 100%;
}
.modal-container {
  position: absolute;
  width: 90%;
  height: 54rem;
  max-width: 85rem;
  padding: 1rem;
  background: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: 300ms all ease;
}
.modal-container__header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 0.4rem 0.8rem;
  background-color: #2ecc71;
  text-align: right;
}
.modal-container__header a {
  display: inline-block;
  text-align: center;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  border-radius: 0.75rem;
  padding: 0.1rem 0.4rem;
  text-decoration: none;
  vertical-align: middle;
  transition: 300ms all ease;
}
.modal-container__header a .hide-text {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  opacity: 0;
  font-size: 0.9em;
  transition: 300ms all ease;
}
.modal-container__header a .icon-close {
  display: inline-block;
  vertical-align: middle;
}
.modal-container__header a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.modal-container__header a:hover .hide-text {
  width: 3rem;
  opacity: 1;
}
.modal-container__content {
  overflow-x: none;
  overflow-y: none;

  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
.modal-container__content-title {
  font-size: 1.4em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.modal-container__content p + p {
  margin-top: 0.5rem;
}
.modal.zoom-in .modal-container {
  transform: scale(0.8);
}
.modal.zoom-out .modal-container {
  transform: scale(1.2);
}
.modal:target {
  opacity: 1;
  pointer-events: auto;
}
.modal:target .modal-container {
  transform: scale(1);
}	